body 
{ 
    background-color: 	#000000;
}

.h1 {
    font: 550 small-caps 52px 'Trebuchet MS', Helvetica, sans-serif;
    font-stretch: expanded;
	text-align: center;
	color: #C0C0C0;
}

.ddd
{
	 font: 400 18px 'Trebuchet MS', Helvetica, sans-serif;
	 text-align: right;
}

.gallery 
{
	font: 550 small-caps 24px 'Trebuchet MS', Helvetica, sans-serif;
	text-align: right;
}